name: Publish Code

on:
  workflow_call:
  workflow_dispatch:

env:
  ZAPIER_DEPLOY_KEY: ${{ secrets.ZAPIER_DEPLOY_KEY }}

jobs:
  publish:
    name: Push release to Zapier
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: "npm"

      - name: Install Node.js dependencies
        run: npm ci

      - name: Publish
        run: npm run zapier push
